*.js linguist-language=Vue
*.css linguist-language=Vue
*.html linguist-language=Vue
*.sql linguist-language=Vue
*.tsql linguist-language=Vue

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
